<app-list-page
  class="ion-page"
  listId="_globals"
  color="global"
  pageHeader="{{ 'page-title.globals' | translate }}"
  listHeader="{{ 'list-header.globals' | translate }}"
  [itemTemplate]="globalItem"
>
</app-list-page>

<ng-template #globalItem let-item let-ionList="ionList">
  <app-global-item
    [item]="item"
    [ionList]="ionList"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
  ></app-global-item>
</ng-template>

<app-edit-global-item-dialog></app-edit-global-item-dialog>
