<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>{{'inventory.page.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showAddDialog()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-storage-list [itemList]="inventory"
                    type="extended" search="name-only"
                    canMove="true" canDelete="true"
                    header="{{'inventory.page.header' | translate}}" headerColor="medium"
                    (moveItem)="moveToShoppingList($event)"
                    (selectItem)="addItemToInventory($event)"
                    (createItem)="showCreateDialog($event)"
                    (deleteItem)="removeItemFromInventory($event)"
                    (emptyItem)="showAddDialog()"
  ></app-storage-list>
</ion-content>

<ion-modal [isOpen]="isAdding">
  <ng-template>
    <app-add-item-dialog
      (addItem)="addItemToInventory($event)"
      (cancel)="isAdding = false"
      (createItem)="showCreateDialog($event)"
    ></app-add-item-dialog>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isCreating">
  <ng-template>
    <app-edit-item-dialog
      (cancel)="isCreating = false"
      (saveItem)="createItemAndAddToInventory($event)"
      [item]="createNewItem"
    ></app-edit-item-dialog>
  </ng-template>
</ion-modal>

