<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel.emit()">{{
        'edit-item.dialog.button.close' | translate
      }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveItem.emit(value)">{{
        saveButtonText
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-padding-start">{{ dialogTitle }}</h3>
  <ion-list>
    <ion-item>
      <ion-input
        label="{{ 'edit.item.dialog.name' | translate }}"
        placeholder="{{ 'edit.item.dialog.name.placeholder' | translate }}"
        [(ngModel)]="value.name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        class="ion-text-end"
        label="Menge"
        [(ngModel)]="value.quantity"
      ></ion-input>
    </ion-item>

    <ion-item button (click)="selectCategories = true">
      <ion-label class="ion-text-wrap">
        {{ 'edit.item.dialog.categories' | translate }}
        @for (cat of value.category; track cat) {
          <ion-chip color="category">
            <!--                <ion-avatar>-->
            <!--                  <img alt="Image of the category" src="assets/avatar.svg"/>-->
            <!--                </ion-avatar>-->
            <ion-label class="ion-text-wrap">{{ cat }}</ion-label>
            <ion-icon
              name="close-circle"
              (click)="removeCategory(cat); $event.stopPropagation()"
            ></ion-icon>
          </ion-chip>
        } @empty {
          {{ 'edit.item.dialog.categories.empty' | translate }}
        }
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-modal [isOpen]="selectCategories" (didDismiss)="selectCategories = false">
  <ng-template>
    <app-categories-dialog
      [item]="value"
      [itemList]="localList"
      (confirm)="setCategories($event)"
      (cancel)="selectCategories = false"
    ></app-categories-dialog>
  </ng-template>
</ion-modal>
