<app-list-page
  class="ion-page"
  listId="_tasks"
  color="task"
  pageHeader="{{ 'page-title.tasks' | translate }}"
  listHeader="{{ 'list-header.tasks' | translate }}"
  [itemTemplate]="taskItem"
>
  <ng-container toolbarActions>
    <ion-button (click)="setSortMode('prio')">Prio</ion-button>
    <ion-button (click)="setSortMode('dueAt')">Termin</ion-button>
  </ng-container>
</app-list-page>

<ng-template #taskItem let-item let-ionList="ionList">
  <app-task-item
    [item]="item"
    [ionList]="ionList"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
  ></app-task-item>
</ng-template>

<app-edit-task-item-dialog></app-edit-task-item-dialog>
<app-edit-global-item-dialog></app-edit-global-item-dialog>
