<ion-searchbar (ionInput)="searchItem($event)" [debounce]="250"></ion-searchbar>
<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="setDisplayMode('alphabetical')">A-Z</ion-button>
    <ion-button (click)="setDisplayMode('categories')">Categories</ion-button>
  </ion-buttons>
</ion-toolbar>
<div class="ion-padding storage-list-body">

  @if (mode === 'alphabetical') {
    @if (type === 'simple') {
      <ng-container *ngTemplateOutlet="listSimple"></ng-container>
    } @else {
      <ng-container *ngTemplateOutlet="listComplex"></ng-container>
    }
  } @else {
    <ng-container *ngTemplateOutlet="categoryMode"></ng-container>
  }
</div>

<ng-template #categoryMode>
  @for (category of categories; track category.name) {
    <ion-button class="item-category" (click)="chooseCategory(category)">
      {{ category.name }}
    </ion-button>
  }
</ng-template>

<ng-template #listSimple>
  <ion-list>
    @if (!!header) {
      <ion-list-header>
        {{ header }}
      </ion-list-header>
    }

    @for (item of items; track item.id) {
      <ion-item [button]="true" (click)="selectItem.emit(item)">
        <ion-label>{{ item.name }} <small>({{item.category??'na'}})</small></ion-label>
      </ion-item>
    } @empty {
      <ion-item [button]="true" (click)="createItem.emit(searchTerm ?? undefined)" [color]="'primary'">
        <ion-label>{{ searchTerm }} not found! Click here to create ...</ion-label>
      </ion-item>
    }
  </ion-list>
</ng-template>

<ng-template #listComplex>
  <ion-list #ionList>
    <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
    <ion-reorder-group [disabled]="!!currentCategory" (ionItemReorder)="handleReorder($any($event))">
      @for (item of items; track item.id) {

        <ion-item-sliding (ionDrag)="deleteItemOnDrag($event, item, ionList)">
          <ion-item>
            <ion-label [class.bought]="item.state === 'bought'">
             {{ item.quantity }} x {{ item.name }}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="moveItem.emit(item)">
                <ion-icon name="cart"></ion-icon>
              </ion-button>
              <ion-button (click)="item.quantity = item.quantity +1">
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <ion-button (click)="item.quantity = item.quantity -1">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-reorder slot="start"></ion-reorder>
          </ion-item>
          <ion-item-options>
            <ion-item-option color="danger" expandable (click)="deleteItem(ionList, item)">Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      } @empty {
        <ion-item>
          {{!!searchTerm ? 'Not found' : 'Empty list' }}
        </ion-item>
      }
    </ion-reorder-group>
  </ion-list>
</ng-template>
