<app-item-edit-modal listId="_tasks" [listItems]="rxTasksItems | async">
  <app-number-input
    label="Priorität"
    [value]="(rxItem$ | async)?.prio"
    (updateValue)="updatePrio($event)"
  ></app-number-input>

  <app-date-input
    [label]="'edit.item.dialog.dueAt' | translate"
    [value]="(rxItem$ | async)?.dueAt"
    (updateValue)="updateDueAt($event)"
  ></app-date-input>

  <app-category-input
    [categories]="(rxItem$ | async)?.category"
  ></app-category-input>
</app-item-edit-modal>
