@if ((rxShowLocal$ | async) === true) {
  <app-text-item
    [color]="(rxState$ | async)?.color"
    helper="{{
      'item-list.quickadd.add'
        | translate
          : {
              value: (rxState$ | async)?.searchQuery,
              list: ((rxState$ | async)?.listName ?? '' | translate)
            }
    }}"
    [label]="(rxState$ | async)?.searchQuery"
    (selectItem)="quickAddItem.emit()"
  ></app-text-item>
}
@if ((rxShowGlobal$ | async) === true) {
  <app-text-item
    color="global"
    helper="{{
      'item-list.quickadd.add.global'
        | translate
          : {
              value: (rxState$ | async)?.searchQuery,
              list: (rxState$ | async)?.listName
            }
    }}"
    [label]="(rxState$ | async)?.searchQuery"
    (selectItem)="quickCreateGlobal.emit()"
  ></app-text-item>
}
@if ((rxShowCategoy$ | async) === true) {
  <app-text-item
    color="category"
    helper="{{
      'item-list.quickadd.add.category'
        | translate
          : {
              value: (rxState$ | async)?.searchQuery,
              list: (rxState$ | async)?.listName
            }
    }}"
    [label]="(rxState$ | async)?.searchQuery"
    (selectItem)="quickCreateCategory.emit()"
  ></app-text-item>
}
