<app-list-page
  class="ion-page"
  listId="_storage"
  color="storage"
  pageHeader="{{ 'page-title.storage' | translate }}"
  listHeader="{{ 'list-header.storage' | translate }}"
  [itemTemplate]="storageItem"
>
  <ion-button (click)="setSortMode('bestBefore')" toolbarActions
    >Mhd</ion-button
  >
</app-list-page>

<ng-template #storageItem let-item let-ionList="ionList">
  <app-storage-item
    [item]="item"
    [ionList]="ionList"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
    (increment)="changeQuantity(item, +1)"
    (decrement)="changeQuantity(item, -1)"
    (cartItem)="copyToShoppingList(item)"
  ></app-storage-item>
</ng-template>

<app-edit-storage-item-dialog></app-edit-storage-item-dialog>
<app-edit-global-item-dialog></app-edit-global-item-dialog>
