<app-page-header
  color="storage"
  label="{{'page-title.storage' | translate}}"
  [disabled]="!!(rxSearchResult$ | async)?.exactMatch"
  (addItem)="showCreateDialog()"
>
  <app-item-list-searchbar
    [query]="(rxState$ | async)?.searchQuery"
    (queryChange)="searchFor($event)"
    (hitEnter)="addItemFromSearch()"
  ></app-item-list-searchbar>
  <app-item-list-toolbar
    (selectDisplayMode)="setDisplayMode($event)"
    (selectSortMode)="setSortMode($event)"
  >
    <ion-button (click)="setSortMode('bestBefore')">Mhd</ion-button>
  </app-item-list-toolbar>
</app-page-header>

<ion-content>
  <app-item-list-quickadd
    (quickAddItem)="addItemFromSearch()"
    (quickCreateGlobal)="showCreateGlobalDialog()"
  ></app-item-list-quickadd>

  <app-item-list
    #storageListComponent
    headerColor="storage"
    header="{{'list-header.storage' | translate}}"
    [mode]="(rxState$ | async)?.mode ?? 'alphabetical'"
    [items]="(rxItems$ | async)"
    [categories]="(rxCategories$ | async)"
    [itemTemplate]="storageItem"
    (selectCategory)="selectCategory($event)"
  ></app-item-list>
  <ng-template #storageItem let-item>
    <app-storage-item
      [item]="item"
      [itemList]="storageListComponent"
      (selectItem)="showEditDialog(item)"
      (deleteItem)="removeItem(item)"
      (increment)="changeQuantity(item, +1)"
      (decrement)="changeQuantity(item, -1)"
      (cartItem)="copyToShoppingList(item)"
    ></app-storage-item>
  </ng-template>

  <app-item-list-empty
    [isEmptyList]="!((rxItems$ | async)?.length)"
    [isSearching]="(rxSearchResult$ |async)?.hasSearchTerm"
    [searchTerm]="(rxSearchResult$ |async)?.searchTerm"
    (emptyItem)="showCreateDialog()"
  ></app-item-list-empty>

  <!--  global search result-->
  @if ((rxSearchResult$| async)?.globalItems?.length) {
  <app-item-list
    header="{{'list-header.global.search' | translate}}"
    headerColor="global"
    [items]="(rxSearchResult$| async)?.globalItems??[]"
    [itemTemplate]="globalItem"
  ></app-item-list>
  <ng-template #globalItem let-item>
    <app-text-item
      color="global"
      class="tinted"
      [label]="item.name"
      [note]="item | appCategories"
      [helper]="'item-helper.search' | translate"
      (selectItem)="addGlobalItem(item)"
    ></app-text-item>
  </ng-template>
  }
</ion-content>

<app-edit-storage-item-dialog></app-edit-storage-item-dialog>
<app-edit-global-item-dialog></app-edit-global-item-dialog>
