<app-page-header
  color="global"
  label="{{'page-title.global' | translate}}"
  (addItem)="showEditDialog()"
></app-page-header>

<ion-content>
  <app-item-list-searchbar
    (searchItem)="searchFor($event)"
  ></app-item-list-searchbar>
  <app-item-list-toolbar
    (selectDisplayMode)="setDisplayMode($event)"
  ></app-item-list-toolbar>
  <app-item-list-quickadd
    color="global"
    listName="{{'list-header.global' | translate}}"
    [quickAddLabel]="searchResult?.searchTerm"
    (quickAddItem)="quickAddItem()"
    (quickCreateGlobal)="showGlobalEditDialog()"
  ></app-item-list-quickadd>
  <app-item-list
    #globalListComponent
    headerColor="global"
    header="{{'list-header.global' | translate}}"
    [mode]="mode"
    [items]="items"
    [itemTemplate]="storageItem"
    (selectCategory)="selectCategory($event)"
  ></app-item-list>
  <ng-template #storageItem let-item>
    <app-global-item
      [item]="item"
      (selectItem)="showEditDialog(item)"
      (deleteItem)="removeItem(item)"
    ></app-global-item>
  </ng-template>

  <app-item-list-empty
    [isEmptyList]="!items.length"
    [isSearching]="searchResult?.hasSearchTerm"
    [searchTerm]="searchResult?.searchTerm"
    (emptyItem)="showEditDialog()"
  ></app-item-list-empty>
</ion-content>

<ion-modal [isOpen]="isEditing">
  <ng-template>
    <app-edit-global-item-dialog
      [item]="editItem"
      [mode]="editMode"
      (saveItem)="updateItem($event)"
      (cancel)="isEditing = false"
    ></app-edit-global-item-dialog>
  </ng-template>
</ion-modal>
