<ng-template #itemTemplate>
  <ion-item button (click)="selectCategory.emit()" lines="full">
    <ion-reorder slot="start"></ion-reorder>
    <ion-label class="ion-text-wrap">
      <h2>{{ category }} ({{ count }})</h2>
    </ion-label>
  </ion-item>
</ng-template>

<ion-item-sliding (ionDrag)="handleItemOptionsOnDrag($event)">
  <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

  <ion-item-options side="end">
    <ion-item-option color="danger" expandable (click)="emitDeleteItem()">
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
