<ion-header>
  <ion-toolbar color="shopping">
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-title>{{'shoppinglist.page.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showEditDialog()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-item-list-searchbar
    (searchItem)="searchFor($event)"
  ></app-item-list-searchbar>
  <app-item-list-toolbar></app-item-list-toolbar>
  <app-item-list-quickadd
    [quickAddLabel]="searchResult?.searchTerm"
    (quickAddItem)="addItemFromSearchTerm()"
    (quickAddGlobal)="showCreateDialog($event)"
  ></app-item-list-quickadd>
  <app-item-list
    #shoppinglist
    headerColor="shopping"
    header="{{'shoppinglist.page.header' | translate}}"
    [items]="items"
    [itemTemplate]="shoppingItem"
    (emptyItem)="showEditDialog()"
  ></app-item-list>
  <ng-template #shoppingItem let-item>
    <app-shopping-item
      [item]="item"
      [helper]="'shopping.list.item.helper' | translate"
      (selectItem)="showEditDialog(item)"
      (increment)="changeQuantity(item, +1)"
      (decrement)="changeQuantity(item, -1)"
      (cartItem)="buyItem(item)"
      (deleteItem)="removeItemFromShoppingList(item)"
    ></app-shopping-item>
  </ng-template>

  @if (searchResult?.storageItems) {
  <app-item-list
    header="{{'storage.page.header' | translate}}"
    headerColor="storage"
    [items]="searchResult?.storageItems??[]"
    [itemTemplate]="storageItem"
  ></app-item-list>
  } @if (searchResult?.globalItems) {
  <app-item-list
    header="{{'database.page.header' | translate}}"
    headerColor="global"
    [items]="searchResult?.globalItems??[]"
    [itemTemplate]="globalItem"
  ></app-item-list>
  }
</ion-content>

<ion-modal [isOpen]="isAdding" (didDismiss)="isAdding = false">
  <ng-template>
    <app-add-item-dialog
      (addItem)="addGlobalItemToShoppingList($event)"
      (cancel)="isAdding = false"
      (createItem)="showCreateDialog($event)"
    ></app-add-item-dialog>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isEditing" (didDismiss)="isEditing = false">
  <ng-template>
    <app-edit-shopping-item-dialog
      [mode]="editMode"
      (cancel)="isEditing = false"
      (saveItem)="updateShoppingItem($event)"
      [item]="editItem"
      [localList]="shoppingList"
    ></app-edit-shopping-item-dialog>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isCreating" (didDismiss)="isCreating = false">
  <ng-template>
    <app-edit-global-item-dialog
      (cancel)="isCreating = false"
      (saveItem)="createItemAndAddToShoppingList($event)"
      [item]="createNewItem"
      [localList]="shoppingList"
    ></app-edit-global-item-dialog>
  </ng-template>
</ion-modal>

<ng-template #storageItem let-item>
  <app-storage-item
    [item]="item"
    [helper]="'shopping.list.item.helper' | translate"
    (selectItem)="addStorageItemToShoppingList($event)"
  ></app-storage-item>
</ng-template>

<ng-template #globalItem let-item>
  <app-global-item
    [item]="item"
    [helper]="'shopping.list.item.helper' | translate"
    (selectItem)="addGlobalItemToShoppingList($event)"
  ></app-global-item>
</ng-template>
