<app-page-header
  color="shopping"
  label="{{'page-title.shoppinglist' | translate}}"
  [disabled]="!!searchResult?.foundInList"
  (addItem)="showEditDialog()"
>
  <app-item-list-searchbar
    (searchItem)="searchFor($event)"
    (hitEnter)="quickAddItem()"
  ></app-item-list-searchbar>
  <app-item-list-toolbar
    (selectDisplayMode)="setDisplayMode($event)"
  ></app-item-list-toolbar>
</app-page-header>

<ion-content>
  <app-item-list-quickadd
    color="shopping"
    listName="{{'list-header.shoppinglist' | translate}}"
    [showQuickAdd]="!searchResult?.foundInList"
    [showQuickAddGlobal]="!searchResult?.foundInList && !searchResult?.foundInGlobal"
    [quickAddLabel]="searchResult?.searchTerm"
    (quickAddItem)="quickAddItem()"
    (quickCreateGlobal)="showCreateGlobalDialog()"
  ></app-item-list-quickadd>
  <app-item-list
    flex-item
    #shoppinglistComponent
    headerColor="shopping"
    header="{{'list-header.shoppinglist' | translate}}"
    [mode]="mode"
    [items]="items$ | async"
    [itemTemplate]="shoppingItem"
    (selectCategory)="selectCategory($event)"
  ></app-item-list>
  <ng-template #shoppingItem let-item>
    <app-shopping-item
      [item]="item"
      (selectItem)="showEditDialog(item)"
      (increment)="changeQuantity(item, +1)"
      (decrement)="changeQuantity(item, -1)"
      (cartItem)="buyItem(item)"
      (deleteItem)="removeItem(item)"
    ></app-shopping-item>
  </ng-template>

  <app-item-list-empty
    [isEmptyList]="!((items$ | async)?.length)"
    [isSearching]="searchResult?.hasSearchTerm"
    [searchTerm]="searchResult?.searchTerm"
    (emptyItem)="showEditDialog()"
  ></app-item-list-empty>

  <!--  storage search results-->
  @if (searchResult?.storageItems?.length) {
  <app-item-list
    header="{{'list-header.storage.search' | translate}}"
    headerColor="storage"
    [items]="searchResult?.storageItems??[]"
    [itemTemplate]="storageItem"
  ></app-item-list>
  <ng-template #storageItem let-item>
    <app-text-item
      color="storage"
      class="tinted"
      [label]="item.name"
      [note]="item | appCategories"
      [helper]="'item-helper.search' | translate"
      (selectItem)="addStorageItem(item)"
    ></app-text-item>
  </ng-template>
  }
  <!--  global search result-->
  @if (searchResult?.globalItems?.length) {
  <app-item-list
    header="{{'list-header.global.search' | translate}}"
    headerColor="global"
    [items]="searchResult?.globalItems??[]"
    [itemTemplate]="globalItem"
  ></app-item-list>
  <ng-template #globalItem let-item>
    <app-text-item
      color="global"
      class="tinted"
      [label]="item.name"
      [note]="item | appCategories"
      [helper]="'item-helper.search' | translate"
      (selectItem)="addGlobalItem(item)"
    ></app-text-item>
  </ng-template>

  }
</ion-content>

<ion-modal [isOpen]="isEditing" (didDismiss)="isEditing = false">
  <ng-template>
    <app-edit-shopping-item-dialog
      [mode]="editMode"
      (cancel)="isEditing = false"
      (saveItem)="updateItem($event)"
      [item]="editItem"
      [localList]="itemList"
    ></app-edit-shopping-item-dialog>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isCreating" (didDismiss)="isCreating = false">
  <ng-template>
    <app-edit-global-item-dialog
      (cancel)="isCreating = false"
      (saveItem)="createGlobalItem($event)"
      [item]="createNewItem"
      [localList]="itemList"
    ></app-edit-global-item-dialog>
  </ng-template>
</ion-modal>
