<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Einkaufsliste
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button  size="small"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
  <ion-list #ionList>
    <ion-list-header>
      Aktuell
    </ion-list-header>
    @for (cartitem of cart?.items; track cartitem.item.ean) {
      <ion-item-sliding (ionDrag)="deleteOnDrag($event, cartitem, ionList)">
        <ion-item>
          <ion-label>{{ cartitem.item.name }}</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="cartitem.quantity = cartitem.quantity +1"><ion-icon name="add"></ion-icon></ion-button>
            <ion-button (click)="cartitem.quantity = cartitem.quantity -1"><ion-icon name="remove"></ion-icon></ion-button>
            <ion-label>{{cartitem.quantity}}</ion-label>
          </ion-buttons>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="danger" expandable>Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
    @empty {
      <ion-item>
        Empty list of users
      </ion-item>
    }
  </ion-list>

</ion-content>
