<ion-app class="">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      Barcode scanning is supported?
      {{ isSupported | json }}
      <main>
        <ion-button (click)="shareShoppingList()" size="full"
          >Einkaufsliste Teilen</ion-button
        >
        <!--      <ion-button (click)="scan()">Scan</ion-button>-->
        <ion-list>
          <ion-menu-toggle>
            <ion-item
              button
              routerLink="/home/shopping/_shopping"
              color="shopping"
            >
              <ion-label>{{ 'page-title.shopping' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              button
              routerLink="/home/storage/_storage"
              color="storage"
            >
              <ion-label>{{ 'page-title.storage' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item button routerLink="/home/tasks/_tasks" color="task">
              <ion-label>{{ 'page-title.tasks' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item
              button
              routerLink="/home/database/_globals"
              color="global"
            >
              <ion-label>{{ 'page-title.globals' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item button routerLink="/settings" color="settings">
              <ion-label>{{ 'page-title.settings' | translate }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </main>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
