<ion-app class="">
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      This is the menu content. Barcode scanning is supported?
      {{ isSupported | json }}
      <main>
        <!--      <ion-button (click)="shareShoppingList()">Share Shoppinglist</ion-button>-->
        <!--      <ion-button (click)="scan()">Scan</ion-button>-->
        <ion-list>
          <!--        <ion-list-header>Einkauf</ion-list-header>-->
<!--          <ion-menu-toggle>-->
<!--            <ion-item button routerLink="/home/shoppinglist">-->
<!--              <ion-label>Einkaufsliste</ion-label>-->
<!--            </ion-item>-->
<!--          </ion-menu-toggle>-->
          <!--        <ion-list-header>Lagerung</ion-list-header>-->
          <ion-menu-toggle>
            <ion-item button routerLink="/home/inventory">
              <ion-label>Lager Liste</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <!--        <ion-list-header>Management</ion-list-header>-->
          <ion-menu-toggle>
            <ion-item button routerLink="/home/database">
              <ion-label>Globale Liste</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </main>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-content class="ion-padding">
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
