<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel.emit()">{{
        'edit-item.dialog.button.close' | translate
      }}</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="saveItem.emit(value)">{{
        saveButtonText
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="ion-padding-start">{{ dialogTitle }}</h3>
  <ion-list>
    <ion-item>
      <ion-input
        label="{{ 'edit.item.dialog.name' | translate }}"
        placeholder="{{ 'edit.item.dialog.name.placeholder' | translate }}"
        [(ngModel)]="value.name"
      ></ion-input>
    </ion-item>
    <ion-item button (click)="selectCategories = true">
      <ion-label class="ion-text-wrap">
        {{ 'edit.item.dialog.categories' | translate }}
        @for (cat of value.category; track cat) {
          <ion-chip color="category">
            <!--                <ion-avatar>-->
            <!--                  <img alt="Image of the category" src="assets/avatar.svg"/>-->
            <!--                </ion-avatar>-->
            <ion-label class="ion-text-wrap">{{ cat }}</ion-label>
            <ion-icon
              name="close-circle"
              (click)="removeCategory(cat); $event.stopPropagation()"
            ></ion-icon>
          </ion-chip>
        } @empty {
          {{ 'edit.item.dialog.categories.empty' | translate }}
        }
      </ion-label>
    </ion-item>

    <!--    <ion-item>-->
    <!--      <ion-select-->
    <!--        label="Einheit"-->
    <!--        interface="popover"-->
    <!--        [value]="value.unit"-->
    <!--        (ionChange)="setUnit($event)"-->
    <!--      >-->
    <!--        <ion-select-option value="pieces">Stück</ion-select-option>-->
    <!--        <ion-select-option value="ml">Liter</ion-select-option>-->
    <!--        <ion-select-option value="g">Kilogramm</ion-select-option>-->
    <!--      </ion-select>-->
    <!--    </ion-item>-->
    <!--    <ion-item>-->
    <!--      <ion-select-->
    <!--        label="Packung"-->
    <!--        interface="popover"-->
    <!--        [value]="value.packaging"-->
    <!--        (ionChange)="setPackaging($event)"-->
    <!--      >-->
    <!--        @if (value.unit === 'ml') {-->
    <!--          <ion-select-option value="bottle">Flasche</ion-select-option>-->
    <!--        }-->
    <!--        <ion-select-option value="loose">Einzeln</ion-select-option>-->
    <!--        <ion-select-option value="package">Päckchen</ion-select-option>-->
    <!--        <ion-select-option value="tin-can">Dose</ion-select-option>-->
    <!--      </ion-select>-->
    <!--    </ion-item>-->
    <!--    <ion-item>-->
    <!--      <ion-input-->
    <!--        label="Packungsgröße"-->
    <!--        placeholder="in ml, g oder stückzahl"-->
    <!--        class="ion-text-end"-->
    <!--        type="number"-->
    <!--        [(ngModel)]="value.packagingWeight"-->
    <!--      >-->
    <!--      </ion-input>-->
    <!--    </ion-item>-->
    <!--    <ion-item>-->
    <!--      <ion-input-->
    <!--        label="Preis pro Packung"-->
    <!--        placeholder="Money Amount"-->
    <!--        class="ion-text-end"-->
    <!--        [ngModel]="value.price | currency: currencyCode"-->
    <!--        (ionBlur)="updatePrice($event)"-->
    <!--      >-->
    <!--      </ion-input>-->
    <!--    </ion-item>-->

    <ion-item>
      <ion-select
        label="Haltbarkeit"
        interface="popover"
        [value]="value.bestBeforeTimespan"
        (ionChange)="setBestBeforeTimespan($event)"
      >
        <ion-select-option value="forever">Ewig</ion-select-option>
        <ion-select-option value="days">Tage</ion-select-option>
        <ion-select-option value="weeks">Wochen</ion-select-option>
        <ion-select-option value="months">Monate</ion-select-option>
        <ion-select-option value="years">Jahre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input
        type="number"
        class="ion-text-end"
        [clearOnEdit]="true"
        [disabled]="value.bestBeforeTimespan === 'forever'"
        [(ngModel)]="value.bestBeforeTimevalue"
      >
        <div slot="label">
          Haltbarkeit
          <ion-text><small>(Anzahl)</small></ion-text>
        </div>
      </ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-modal [isOpen]="selectCategories" (didDismiss)="selectCategories = false">
  <ng-template>
    <app-categories-dialog
      [item]="value"
      (confirm)="setCategories($event)"
      (cancel)="selectCategories = false"
    ></app-categories-dialog>
  </ng-template>
</ion-modal>
