<app-item-edit-modal listId="_globals" [listItems]="rxGlobalItems$ | async">
  <ion-item>
    <ion-select
      label="Haltbarkeit"
      interface="popover"
      [value]="(rxItem$ | async)?.bestBeforeTimespan"
      (ionChange)="setBestBeforeTimespan($event)"
    >
      <ion-select-option value="forever">Ewig</ion-select-option>
      <ion-select-option value="days">Tage</ion-select-option>
      <ion-select-option value="weeks">Wochen</ion-select-option>
      <ion-select-option value="months">Monate</ion-select-option>
      <ion-select-option value="years">Jahre</ion-select-option>
    </ion-select>
  </ion-item>
  <app-number-input
    [disabled]="(rxItem$ | async)?.bestBeforeTimespan === 'forever'"
    [value]="(rxItem$ | async)?.bestBeforeTimevalue"
    (updateValue)="setBestBeforeTimevalue($event)"
  >
    <div slot="label">
      Haltbarkeit
      <ion-text><small>(Anzahl)</small></ion-text>
    </div>
  </app-number-input>
  <app-category-input
    [categories]="(rxItem$ | async)?.category"
  ></app-category-input>
</app-item-edit-modal>
