<ion-tabs>
  <ion-tab-bar slot="bottom" id="footer">
    <ion-tab-button tab="shopping" href="/home/shopping">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>{{ 'home.page.title.shopping' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="storage" href="/home/storage">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>{{'home.page.title.storage' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks" href="/home/tasks">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>{{'home.page.title.tasks' | translate}}</ion-label>
    </ion-tab-button>

    <!--    <ion-tab-button tab="tasks" href="/home/tasks">-->
    <!--      <ion-icon aria-hidden="true" name="square"></ion-icon>-->
    <!--      <ion-label>Tasks</ion-label>-->
    <!--    </ion-tab-button>-->
    <!--    <ion-tab-button id="open-action-sheet">-->
    <!--      <ion-icon aria-hidden="true" name="square"></ion-icon>-->
    <!--      <ion-label>Actions</ion-label>-->
    <!--    </ion-tab-button>-->
  </ion-tab-bar>
</ion-tabs>
