<ion-item button (click)="selectItem.emit(item)">
  <!--  <div class="status-bar">-->
  <!--    <ion-text [color]="getColor(item)"></ion-text>-->
  <!--  </div>-->
  <ion-reorder slot="start"></ion-reorder>
  <!--  <ion-avatar slot="start">-->
  <!--    <img alt="Image of the category" src="assets/avatar.svg" />-->
  <!--  </ion-avatar>-->
  <ion-label class="ion-text-wrap" [class.bought]="item.state === 'bought'">
    <h2>{{ item.quantity }} x {{ item.name }}</h2>
    @if (item.category?.length) {
      <ion-note>{{ item.category | appCategories: categoryAlt }} </ion-note
      ><br />
    }
  </ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="incrementQuantity($event)">
      <ion-icon name="add"></ion-icon>
    </ion-button>
    <ion-button (click)="decrementQuantity($event)">
      <ion-icon name="remove"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
