<ng-template #itemTemplate>
  <ion-item button (click)="selectItem.emit()" lines="full">
    <div class="status-bar">
      <ion-text [color]="getColor()"></ion-text>
    </div>
    <ion-reorder slot="start"></ion-reorder>
    <ion-label class="ion-text-wrap">
      <h2>{{ item.name }}</h2>
      <ion-note [appCategoryNote]="item"></ion-note>
      @if (item.dueAt) {
        <ion-note>
          Fällig am:
          {{ item.dueAt | date: undefined : undefined : 'de-DE' }} </ion-note
        ><br />
      }
      @if (item.prio) {
        <ion-note>
          Priorität:
          {{ item.prio }} </ion-note
        ><br />
      }
    </ion-label>
  </ion-item>
</ng-template>

<ion-item-sliding (ionDrag)="handleItemOptionsOnDrag($event)">
  <ng-container *ngTemplateOutlet="itemTemplate"></ng-container>

  <ion-item-options side="end">
    <ion-item-option color="danger" expandable (click)="emitDeleteItem()">
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
