<ion-item button (click)="showCategoryDialog()">
  <ion-label class="ion-text-wrap">
    {{ 'edit.item.dialog.categories' | translate }}
    @for (cat of categories; track cat) {
      <ion-chip color="category">
        <ion-label class="ion-text-wrap">{{ cat }}</ion-label>
        <ion-icon
          name="close-circle"
          (click)="removeCategory(cat); $event.stopPropagation()"
        ></ion-icon>
      </ion-chip>
    } @empty {
      {{ 'edit.item.dialog.categories.empty' | translate }}
    }
  </ion-label>
</ion-item>
<app-categories-dialog></app-categories-dialog>
