@use "../../../theme/consts";

.bought {
  text-decoration: line-through;
}
//ion-list-header {
//  font-size: 0.75em;
//  min-height: 1.5rem;
//}
.storage-item-helper {
  align-self: center;
  text-align: end;
  padding: 0;
  max-width: consts.$gc-smaller;
}
