@if (header) {
  <ion-list-header>
    <ion-label>{{ header }}</ion-label>
  </ion-list-header>
}

@if (type === 'simple') {
  <ion-item [button]="true" (click)="selectItem.emit(item)" [color]="color">
    <ion-label class="ion-text-wrap">
      <h2>{{ item.name }}</h2>
      <ion-note slot="end">({{ item.category | appCategories }})</ion-note>
    </ion-label>
    @if (helper) {
      <ion-note slot="end">{{ helper }}</ion-note>
    }
  </ion-item>
} @else {
  <ion-item>
    <ion-label [class.bought]="item.state === 'bought'">
      {{ item.quantity }} x {{ item.name }}
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="cartItem.emit(item)">
        <ion-icon name="cart"></ion-icon>
      </ion-button>
      <ion-button (click)="item.quantity = item.quantity +1">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="item.quantity = item.quantity -1">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-reorder slot="start"></ion-reorder>
  </ion-item>
}
