<app-list-page
  class="ion-page"
  listId="_shopping"
  color="shopping"
  pageHeader="{{ 'page-title.shopping' | translate }}"
  listHeader="{{ 'list-header.shopping' | translate }}"
  [itemTemplate]="shoppingItem"
>
  <ion-buttons slot="end" listActions>
    <ion-button
      [hidden]="!(rxItems$ | async)?.length"
      (click)="openActionSheet()"
    >
      <ion-icon name="bag-add" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</app-list-page>

<ng-template #shoppingItem let-item let-ionList="ionList">
  <app-shopping-item
    [item]="item"
    [ionList]="ionList"
    (selectItem)="showEditDialog(item)"
    (deleteItem)="removeItem(item)"
    (increment)="changeQuantity(item, +1)"
    (decrement)="changeQuantity(item, -1)"
    (cartItem)="buyItem(item)"
  ></app-shopping-item>
</ng-template>

<app-edit-shopping-item-dialog></app-edit-shopping-item-dialog>
<app-edit-global-item-dialog></app-edit-global-item-dialog>
<app-shopping-action-sheet></app-shopping-action-sheet>
