<ion-list #ionList>
  @if (header) {
    <ion-list-header [color]="headerColor"> {{ header }}</ion-list-header>
  }
  @if (mode === 'alphabetical') {
    <ng-container *ngTemplateOutlet="listMode"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="categoryMode"></ng-container>
  }
</ion-list>

<ng-template #categoryMode>
  @for (category of categories; track category) {
    <app-text-item
      color="category"
      [label]="category"
      (selectItem)="selectCategory.emit(category)"
    ></app-text-item>
  }
</ng-template>

<ng-template #listMode>
  <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
  <ion-reorder-group
    [disabled]="reorderDisabled"
    (ionItemReorder)="handleReorder($any($event))"
  >
    @for (item of items; track item.id) {
      <ng-container
        *ngTemplateOutlet="
          itemTemplate;
          context: { $implicit: item, ionList: ionList }
        "
      ></ng-container>
    }
  </ion-reorder-group>
</ng-template>
