<ion-list #ionList>
  @if (header) {
    @if (listHeader) {
      <ion-list-header [color]="headerColor">
        <ion-label>{{ header }}</ion-label>
      </ion-list-header>
    } @else {
      <ion-toolbar [color]="headerColor">
        <ion-label class="ion-padding-start">
          {{ header }}
        </ion-label>
        <ng-content></ng-content>
      </ion-toolbar>
    }
  }
  @if (mode === 'alphabetical') {
    <ng-container *ngTemplateOutlet="listMode"></ng-container>
  } @else {
    <ng-container *ngTemplateOutlet="categoryMode"></ng-container>
  }
</ion-list>

<ng-template #categoryMode>
  @for (cat of categories; track cat.category) {
    <app-category-item
      [category]="cat.category"
      [count]="cat.count"
      [ionList]="ionList"
      (selectCategory)="selectCategory.emit(cat.category)"
      (deleteCategory)="deleteCategory.emit(cat.category)"
    ></app-category-item>
  }
</ng-template>

<ng-template #listMode>
  <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
  <ion-reorder-group
    [disabled]="reorderDisabled"
    (ionItemReorder)="handleReorder($any($event))"
  >
    @for (item of items; track item.id) {
      <ng-container
        *ngTemplateOutlet="
          itemTemplate;
          context: { $implicit: item, ionList: ionList }
        "
      ></ng-container>
    }
  </ion-reorder-group>
</ng-template>
