<ion-modal
  [isOpen]="(rxCategoryState$ | async)?.isEditing === true"
  (didDismiss)="closedDialog()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancelChanges()"
            >{{ 'edit-item.dialog.button.close' | translate }}
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="submitChanges()">{{
            (rxState$ | async)?.saveButtonText ?? '' | translate
          }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <h3 class="ion-padding-start">
        {{ (rxState$ | async)?.dialogTitle ?? '' | translate }}
      </h3>
      <ion-list>
        <ion-item lines="none">
          <ion-input
            label="{{ 'edit.item.dialog.name' | translate }}"
            placeholder="{{ 'edit.item.dialog.name.placeholder' | translate }}"
            [value]="(rxCategoryState$ | async)?.editItem"
            (ionInput)="updateCategory($event)"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
